.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-container--barchart {
    padding-bottom: 48%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.barchart h2 {
    padding-bottom: 1em;
}

.tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 1rem;
    pointer-events: none;
}

.tooltip strong {
    font-size: 1.3em;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background: url('../img/bg.svg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    zoom: .8;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-weight: 600;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 1em;
}

h2 {

}

h3 {
    font-size: 1.8em;
}

.row {
    max-width: 60rem;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.board__choices{
    margin: 0 4em;
}

.board__choices h1 {
    margin-bottom: .1em;
}

.board__choices h4 {
    margin-bottom: 3em;
}

.choice--wrapper {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.choice {
    width: 100%;
    height: 17vw;
    margin-bottom: .7em;
    border-radius: 5px;
    max-height: 250px;
}

.choice--default {
    background: #ff7e43;
    cursor: pointer;
}

.choice--custom {
    background: #5ebbd9;
    padding: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice + p {
    cursor: pointer;
    font-size: .9em;
}

.choice--custom form {
    width: 100%;
    margin-top: 1em;
}

.choice--custom form select {
    color: #5ebbd9;
}

.summary .summary-header {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #444;
}

.summary-header span {
    line-height: 2.8;
}

.main-chart-wrapper {
    background: rgba(255,255,255,.5);
    padding-top: 2em;
}

.backBtn {
    border: 2px solid #bbb;
    color: #bbb;
    padding: .8em;
    float: left;
    background: #eee;
    transition: all .2s;
    border-radius: 5px;
}

.backBtn:hover {
    border: 2px solid #444;
    color: #444;
    cursor: pointer;
}

.detailed-information {
    margin-bottom: 2em;
    border-radius: 5px;
}

.detailed-information p {
    font-size: 1.1em;
}

.disabled {
    color: #999;
    cursor: not-allowed !important;
}

.enabled {
    cursor: pointer;
}

.low-alpha {
    opacity: .5;
}

.hidden {
    display: none;
}

.rect, .path {
    transition: .1s opacity;
}

.rect:hover {
    cursor: pointer;
    opacity: .8;
}

.path:hover {
    opacity: .8;
}

small {
    color: #999;
    font-size: 1em;
}

.info {
    margin-top: 3.2em;
}

.info a {
    color: #666;
}

.background-1 {
    background: rgba(255,255,255,.5);
    border-radius: 5px;
    padding: 1em 0;
}

.row {
    margin-bottom: 2em;
}

.selection strong {
    color: #d73027;
}

.tip {
    margin: 2em 0;
    text-align: center;
}

.compare-charts {
    font-size: 1.8em;
}

.compare-charts select {
    width: 380px;
    font-size: .8em;
    padding: 0 1em 0 .4em;
}

.selection {
    display: none;
}

.float-right {
    float: right;
}

.legend {
    transition: opacity 300ms, transform 300ms;
}

.legend--move-out {
    transform: translateX(50%);
}
