<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="vendor/css/foundation.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,600i|Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="board--choices">
            <h1>What' ya wanna know, dude?</h1>

            <div class="choices row">

                <div class="choice--wrapper column small-12 medium-4">
                    <div class="choice choice--default" id="choice-1"></div>
                    <p>Alcohol & Sex</p>
                </div>

                <div class="choice--wrapper column small-12 medium-4">
                    <div class="choice choice--default" id="choice-2"></div>
                    <p>Going out & Parents</p>
                </div>

                <div class="choice--wrapper column small-12 medium-4">
                    <div class="choice choice--custom">
                        <form>
                            <select id="selection-1">
                                <option disabled selected>Choose here</option>
                            </select>
                            <select id="selection-2">
                                <option disabled selected>Choose here</option>
                            </select>
                        </form>
                    </div>
                    <p class="disabled" id="choice-3">Compare custom</p>
                </div>

            </div>

        </div>

        <div class="summary">
            <div class="row align-center">
                <div class="column">
                    <span class="barchart"></span>
                </div>
            </div>
            <div class="row align-stretch">
                <div class="column small-12 medium-4">
                    <div class="piechart1"></div>
                </div>
                <div class="column small-12 medium-4">
                    <div class="piechart2"></div>
                </div>
                <div class="column small-12 medium-4">
                    <div class="piechart3"></div>
                </div>
            </div>
        </div>
    </body>
</html>
