<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="vendor/css/foundation.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,600i|Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="board--choices">
            <div class="row header">
                <h1>What do you want to know?</h1>
                <h4>Please select the data you want to compare</h4>
            </div>

            <div class="choices row">
                <div class="choice--wrapper column small-12 medium-4">
                    <img class="choice choice--default" id="choice-1" src="assets/img/choice.svg" />
                    <p>Alcohol Consumption &<br>Sex</p>
                </div>

                <div class="choice--wrapper column small-12 medium-4">
                    <img class="choice choice--default" id="choice-2" src="assets/img/choice.svg" />
                    <p>Going out with friends &<br>Parents Cohabitation Status</p>
                </div>

                <div class="choice--wrapper column small-12 medium-4">
                    <div class="choice choice--custom">
                        <form>
                            <select id="selection-1">
                                <option disabled selected>Choose here</option>
                            </select>
                            <select id="selection-2">
                                <option disabled selected>Choose here</option>
                            </select>
                        </form>
                    </div>
                    <p class="disabled" id="choice-3">Compare custom choices</p>
                </div>

            </div>

            <div class="row">
                <div class="column small-12 text-center info">
                    <small>This app uses the <a href="https://d3js.org/" target="_blank">D3.v4.js</a>
                        Javascript library and a <a href="https://www.kaggle.com/uciml/student-alcohol-consumption" target="_blank">dataset</a>
                        about students.</small>
                </div>
            </div>
        </div>

        <div class="summary hidden">
            <div class="main-chart-wrapper">
                <div class="row align-center">
                    <div class="column small-12">
                        <button class="backBtn">&lt;&nbsp;&nbsp;&nbsp;New Selection</button>
                    </div>
                    <div class="column small-12">
                        <span id="main-barchart" class="barchart"></span>
                    </div>
                    <p class="tip"><strong>Pssst!</strong> Try to <i>click</i> on a individual section to filter the data for the other
                        charts or <i>hover</i> over the sections for detailed information.</p>
                </div>
            </div>

            <div class="piechart-wrapper">
                <div class="row align-stretch">

                    <div class="column small-12 detailed-information text-center">
                        <h2>Detailed Information <span class="selection">for your selection</span></h2>
                        <p id="your-selection" class="selection"></p>
                    </div>

                    <div class="column small-12 medium-4">
                        <div id="piechart1" class="piechart background-1"></div>
                    </div>
                    <div class="column small-12 medium-4">
                        <div id="piechart2" class="piechart background-1"></div>
                    </div>
                    <div class="column small-12 medium-4">
                        <div id="piechart3" class="piechart background-1"></div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <div class="column small-12">
                    <div class="background-1">
                        <p>Compare $PLACEHOLDER and
                            <select id="">
                                <option disabled selected>Choose here</option>
                            </select>
                        </p>
                        <span id="barchart1" class="barchart"></span>
                    </div>
            </div>
        </div>
    </body>
</html>
