<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="vendor/css/foundation.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Plots by d3 will be generated here.</p>
        <div class="row align-center">
            <div class="column">
                <span class="barchart"></span>
            </div>
        </div>
        <div class="row align-stretch">
            <div class="column small-12 medium-4">
                <div class="piechart"></div>
            </div>
            <div class="column small-12 medium-4">
                <div class="piechart2"></div>
            </div>
            <div class="column small-12 medium-4">
                <div class="piechart3"></div>
            </div>
        </div>
    </body>
</html>