<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="vendor/css/foundation.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="row">
            <p>Plots by d3 will be generated here.</p>
            <div class="barchart"></div>
            <div class="piechart"></div>
        </div>
    </body>
</html>